<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (products.length > 0) { %>
                <ul>
                <% for (let product of products)  { %>
                    <li>
                        <h4><%= product.title %></h4>
                        <p>Quantity: (<%= product.cartItem.quantity %>)</p>
                        <form action="/cart-delete-item" method="POST">
                            <input type="hidden" name="id" value="<%= product.id %>" />
                            <input type="hidden" name="price" value="<%= product.price %>" />
                            <button class="btn">Delete</button>
                        </form>
                    </li>
                <% } %>
                </ul>
                <form action="/checkout" method="POST">
                    <button class="btn" type="submit">Checkout</button>
                </form>
            <% } else { %>
               <p>Cart is empty</p>  
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>