<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (orders.length > 0)  { %>
                <ul>   
                    <% for (let order of orders) { %>
                        <li>
                            <h2><%= order.id %></h2>
                            <ul>
                                <% for (let product of order.products) { %>
                                <li> <%= product.title %> | Qty. <%= product.orderItem.quantity %></li>
                                <% } %>
                            </ul>
                        </li>
                    <% } %>
                </ul>
            <% } else { %>
                <h1>No orders found</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>